html{
    font-family: Equestria;
}

body{
    position: absolute;
    width: auto;
}

header{
    width: 100%;
    height: auto;
    background-color: black;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
}

.menu{
    background-color: gray;
    text-align: center;
}

li{
    display: inline;
    font-size: 40px;
    padding: 25px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    margin-top: 15%;
    width: 100%;
}

h2{
    text-align: right;
}

.social{
    width: 50px;
    height: 50px;
}

table{
    float: left;
}

table td{
    border: 1px solid;
    text-align: center;
}

.neeko{
    float: right;
}

.texto {
    text-align: right;
}